
.class-card-city {
    height: 391px;
    border-radius: 20px;
    border: 1px solid #FFFFFF;
    background: radial-gradient(110.08% 171.48% at -7.91% -10.08%, rgba(45, 77, 39, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(90px);
}

.class-card-sol {
    /*width: 400px;*/
    height: 391px;
    /*margin-left: 10px;*/
    background: radial-gradient(110.08% 171.48% at -7.91% -10.08%, rgba(45, 77, 39, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    backdrop-filter: blur(90px);
}

.class-intervalo-tempo {
    background: radial-gradient(110.08% 171.48% at -7.91% -10.08%, rgba(45, 77, 39, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    /*margin-left: 10px;*/
    height: 391px;
    backdrop-filter: blur(90px);
}

#id_direcao_vento {
    background: radial-gradient(110.08% 171.48% at -7.91% -10.08%, rgba(45, 77, 39, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    border: 1px solid #FFFFFF;
    border-radius: 20px;
    backdrop-filter: blur(90px);
    height: 290px;
    /*width: 400px;*/
    /*margin-top: 24px;*/
    /*margin-left: 10px;*/
}


#coluna_mapa {
    border: 1px solid #FFFFFF;
    /*margin-left: 10px;*/
    background: radial-gradient(110.08% 171.48% at -7.91% -10.08%, rgba(45, 77, 39, 0.4) 0%, rgba(255, 255, 255, 0) 100%);
    backdrop-filter: blur(10px);
    border-radius: 20px;
    height: 290px;
}

#menu {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 11em;
    height: 100%;
}

#cabecalho {
    align-items: center;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    /*justify-content: center;*/
}
